/* your styles go here */
.button_contact_me {
  background-color: #555;
}

.gmail_backg {
  background: #dd4b39;
}

.twitter_backg {
  background: #55acee;
}

.github_backg {
  background: #000000;
}

.title_contact {
  border-bottom: solid 1px #4fbfa8;
  border-top: solid 1px #4fbfa8;
  color: #4fbfa8;
}

.title_services {
  border-bottom: solid 1px white;
  border-top: solid 1px white;
}

.footer_space {
  margin-top: 44px;
}

.icon_space {
  margin-right: 10px;
}

.content_space {
  margin-top: 0px;
}

.tech_title {
  font-size: 1rem;
  margin-bottom: 20px;
}

.icon_size {
  font-size: 2.5rem;
}

.contact_m {
  font-size: 1.7rem;
}

.contact_m_footer {
  font-size: 1.1rem !important;
}

.img_setting {
  max-width: 600px;
}

.container_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
